/* 
          )   (        )   (    (     
   (   ( /(   )\ )  ( /(   )\ ) )\ )  
   )\  )\()) (()/(  )\()) (()/((()/(  
 (((_)((_)\   /(_))((_)\   /(_))/(_)) 
 )\___  ((_) (_))    ((_) (_)) (_))   
((/ __|/ _ \ | |    / _ \ | _ \/ __|  
 | (__| (_) || |__ | (_) ||   /\__ \  
  \___|\___/ |____| \___/ |_|_\|___/  
                                      

#FFF682 Yellow
#F9F9F9 Off white
#FFFFFF White
#424B54 Medium Gray
#000000 Black
*/

/* 

 (        )      )         (     
 )\ )  ( /(   ( /(   *   ) )\ )  
(()/(  )\())  )\())` )  /((()/(  
 /(_))((_)\  ((_)\  ( )(_))/(_)) 
(_))_|  ((_)  _((_)(_(_())(_))   
| |_   / _ \ | \| ||_   _|/ __|  
| __| | (_) || .` |  | |  \__ \  
|_|    \___/ |_|\_|  |_|  |___/  
                                 
 */

@font-face {
    font-family: 'bignoodletitlingoblique';
    src: url('../fonts/big_noodle_titling_oblique-webfont.woff2') format('woff2'),
         url('../fonts/big_noodle_titling_oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bignoodletitlingregular';
    src: url('../fonts/big_noodle_titling-webfont.woff2') format('woff2'),
         url('../fonts/big_noodle_titling-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
	font-size: 16px;
}

a, a:visited, a:hover, a:link, a:active {
	text-decoration: none;
	color: #000000
}

a:hover {
	color: #424B54;
}

header {
	padding-top: 8rem;
}


/* 

    )                  
 ( /(   (              
 )\())  )\     (   (   
((_)\((((_)(   )\  )\  
 _((_))\ _ )\ ((_)((_) 
| \| |(_)_\(_)\ \ / /  
| .` | / _ \   \ V /   
|_|\_|/_/ \_\   \_/  

 */


nav {
	position: fixed;
	position: top left;
	z-index: 10;
	box-shadow: 0 0 1rem rgba(0,0,0,.1);
	background-color: #FFF682;
	color: #000000;
	width: 100% ;
	height: 5rem;
	background-image: url(../images/logosmall.png);
	background-repeat: no-repeat;
	background-position: left center;
}

nav ul {
	text-align: right;
	font-family: 'bignoodletitlingoblique';
	text-decoration: none;
	font-size: 2rem;
	list-style: none;
	margin: 0; 
}

/*
#navlogo {
	height: 5rem;
	width: auto;
	background-image: url(../images/logosmall.png);
	background-repeat: no-repeat;
	position: relative;
	bottom: 1.4rem;
	left: 2rem;

}
*/

nav ul li {
	display: inline-block;
}

nav ul li a {
	position: relative;
	right: 2rem;
	top: 1.4rem;
	padding: 30px;

}

nav ul li a:visited {
	color: #000000;
}



/* 

    )     )     *          
 ( /(  ( /(   (  `         
 )\()) )\())  )\))(   (    
((_)\ ((_)\  ((_)()\  )\   
 _((_)  ((_) (_()((_)((_)  
| || | / _ \ |  \/  || __| 
| __ || (_) || |\/| || _|  
|_||_| \___/ |_|  |_||___| 
  

 */

#homeheadlogo {
	text-align: center;
}

.homeheader {
	background-color: #FFFFFF;
}

#homeheadtext {
	color: #000000;
}

#homeheadtext h1 {
	font-size: 4.6875rem;
}

#homeheadtext p {
	font-size: 1.875rem;
}

.projectlist {
	position: relative;
	top: 2rem;
}

.projectlink:hover {
	opacity: 1;
}

.projectlist figcaption {
	width: 100%;
	opacity:0;
	position: relative;
	bottom: 9rem;
	color: #FFFFFF;
	position: relative;
}

.projectlist:hover figcaption {
	opacity: 1;

}

#homeprojects {
	font-family: 'bignoodletitlingregular', Arial, sans-serif;
	font-size: 3rem;
	background-color: #F9F9F9;
}

.project figure {
	line-height: 2rem;
	margin: 0;
	text-align: center;
}

.project img {

	margin: 0;
	padding: 1rem, 0;
}






/* 

 (    (        )                            (     
 )\ ) )\ )  ( /(                (     *   ) )\ )  
(()/((()/(  )\())    (   (      )\  ` )  /((()/(  
 /(_))/(_))((_)\     )\  )\   (((_)  ( )(_))/(_)) 
(_)) (_))    ((_)   ((_)((_)  )\___ (_(_())(_))   
| _ \| _ \  / _ \  _ | || __|((/ __||_   _|/ __|  
|  _/|   / | (_) || || || _|  | (__   | |  \__ \  
|_|  |_|_\  \___/  \__/ |___|  \___|  |_|  |___/  
   

 */

.projecttitle {
	text-align: center;
	margin: auto;
}

.projectheader {
	background-color: #FFFFFF;
	color: #000000;
}

.projectheader h1 {
	margin-top: 0;
}

.projectmain {
	background-color: #F9F9F9;
}

.projectdescription {
	color: #424B54;
	font-family: 'bignoodletitlingregular';
	line-height: 1.4;
	font-size: 1.5rem;
	letter-spacing: .1rem;
	width: 55%;
	margin: auto;
	padding: 2.5rem;
}

.projecttitle h1 {
	color: #000000;
	font-family: 'bignoodletitlingregular';
	font-size: 3.8rem;
	letter-spacing: .1rem;
	margin-top: : 2rem;
}

.projecttitle img{
	margin-bottom: 2rem;
}

/* 
                  )                  
   (       (   ( /(           *   )  
   )\    ( )\  )\())     (  ` )  /(  
((((_)(  )((_)((_)\      )\  ( )(_)) 
 )\ _ )\((_)_   ((_)  _ ((_)(_(_())  
 (_)_\(_)| _ ) / _ \ | | | ||_   _|  
  / _ \  | _ \| (_) || |_| |  | |    
 /_/ \_\ |___/ \___/  \___/   |_|    
                                    

 */

#abouthead {
	background-color: #FFFFFF;
	text-align: center;
}

#abouthead figure {
	margin-top: 0;
}

#profilepicture {
	margin-top: 2rem;
	margin-bottom: 0;
}

#abouttext {
	width: 55%;
	margin: auto;
}

#abouttext h2 {
	text-align: center;
	padding-top: 2rem;
	margin: 0;
}

#contact ul {
	font-family: 'bignoodletitlingoblique';
	text-decoration: none;
	font-size: 2rem;
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

#contact ul li {
	display: inline-block;	
}

/* brendan russo title */
#profilepicture { 
	color: #000000;
	font-family: 'bignoodletitlingregular';
	font-size: 6rem;
}

#aboutmain {
	background-color: #F9F9F9;
}

#abouttext p {
	color: #424B54;
	font-family: 'bignoodletitlingregular';
	line-height: 1.4;
	font-size: 1.5rem;
	letter-spacing: .1rem;
}

#abouttext h2 {
	color: #000000;
	font-family: 'bignoodletitlingregular';
	line-height: 1.4;
	font-size: 3.8rem;
	letter-spacing: .1rem;
}

#contact, #contact a, #contact a:visited {
	font-family:'bignoodletitlingregular';
	color: #424B54;
	text-decoration: none;
	font-size: 2rem;
}

